.container {
    width: 390px;
    height: 844px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onboarding {
    max-width: 390px;
    margin: 0 auto;
    height: 844px;
    border: 1px;
}

.logo {
    width: 116px;
    height: 135px;
    margin-top: 138px;
    margin-left: 130px;
}

.element {
    margin-top: 10px;
    border: 1px solid #ED5579;
}


input {
    width: 358px;
    height: 50px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid #EDF1F7;
    border-radius: 8px;
    margin-bottom: 15px;
}

.num{
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8F9BB3;
}

.gen-otp {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    width: 358px;
    height: 50px;
    margin-top: 17px;
    background: #ed5579;
    border: 0px;
    border-radius: 7px;
}

input::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8f9bb3;
}
